{% extends 'base.html' %}
{% load static %}

{% block content %}
    

 <!-- Breadcrumb Begin -->
 <div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

{% if not cart_items %}
<br><br><br>
<div class="text-center">
<h2 class="text-center">Your Cart is Empty</h2>
<br><br>
<a href="{% url 'store' %}" class="primary-btn text-center">Continue Shoping</a>
<br><br><br>
</div>

    
{% else %}
    


<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_items in cart_items %}
                            <tr>
                                
                                    
                               
                                <td class="cart__product__item">
                                    <img src="{{cart_items.product.images.url}}" alt="">
                                    <div class="cart__product__item__title">
                                       <a href="{{ cart_items.product.get_url }}"><h6>{{cart_items.product.product_name}}</h6></a> 
                                       
                                       {% if cart_items.variations.all %}
                                       {% for item in cart_items.variations.all %}
                                       {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}} <br>
                                        
                                       {% endfor %}
                                        
                                       {% endif %}
                                        <div class="rating">
                                            
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">$ {{cart_items.product.price}}</td>
                                <td class="cart__quantity">
                                    <div class="pro-qty">
                                        
                                        <input type="text" value="{{cart_items.quantity}}">
                                        
                                    </div>
                                </td>
                                <td class="cart__total">$ {{cart_items.sub_total}}</td>
                                <td class="cart__close"><a href="{% url 'remove_cart_item' cart_items.product.id cart_items.id %}" onclick ="return confirm('Are you sure you want to delete the item .?')"><span  class="icon_close"></span></a></td>
                                
                               
                            </tr>
                            {% endfor %}
                           
                          
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="{% url 'store' %}">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">Apply</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>${{total}}</span></li>
                        <li>Tax <span>${{tax}}</span></li>
                        <li>Grand Total <span>${{grand_total}}</span></li>
                    </ul>
                    <a href="{% url 'checkout' %}" class="primary-btn">Proceed to checkout</a><br>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->

{% endif %}


<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-1.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-2.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-3.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-4.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-5.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="{% static 'img/instagram/insta-6.jpg' %}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ ashion_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

{% endblock content %}