{% extends 'master/master_main.html' %}
{% load static %}


{% block content %}


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title"></h4>
            </div>
            
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex">
                    <ol class="breadcrumb ms-auto">
                        <li><a href="#" class="fw-normal"></a></li>
                    </ol>
                   
                    <a href="{% url 'add_variation' %}" target=""
                        class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Add Variations</a>
                </div>
            </div>
        </div> 
        
    </div>
   
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Variation List</h3>
                    
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Id</th>
                                    <th class="border-top-0">product Name</th>
                                    <th class="border-top-0">Variation category</th>
                                    <th class="border-top-0">variation</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                              {% for variation in variation %}
                                
                              
                               
                                <tr>
                                    <td>{{variation.id}}</td>
                                    <td>{{variation.product}}</td>
                                    <td>{{variation.variation_category}}</td>
                                    <td>{{variation.variation_value}}</td>
                                    <td> <a href="{% url 'edit_vatiation' variation.id %}" target=""class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Edit</a> </td>
                                    <td> <a href="{% url 'delete_variation' variation.id %}" target=""class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Delete</a> </td>
                                    
                                </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>

                     <div class="col-lg-12 text-center">
                        {% if variation.has_other_pages %}
                                    
                                
                        <div class="pagination__option">
                            {% if variation.has_previous %}
                            <a href="?page={{variation.previous_page_number}}"><i class="fa fa-angle-left"></i></a>  
                            {% else %}
                            <a href="#"><i class="fa fa-angle-left"></i></a>
                            {% endif %}

                            {% for i in variation.paginator.page_range %}
                            {% if variation.number == i %}
                            <a href="#">{{i}}</a> 

                            {% else %}<a href="?page={{i}}">{{i}}</a>    
                            {% endif %}
                            
                            {% endfor %}
                        
                            {% if variation.has_next %}
                            <a href="?page={{variation.next_page_number}}"><i class="fa fa-angle-right"></i></a>  
                            {% else %}
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                            {% endif %}

                        </div>
                        {% endif %}
                    </div>


                </div>
            </div>
        </div>
      
    </div>
    
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
    
{% endblock content %}